workflow.json
{
  "name": "Email Triage & Auto-Reply (Clean)",
  "nodes": [
    {
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "every5Minutes"
            }
          ]
        },
        "simple": true,
        "options": {
          "query": "label:incoming-auto -in:chats -from:(noreply OR no-reply OR do-not-reply) -subject:(receipt OR code OR verification OR out of office OR auto-reply)"
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "prep-body",
      "name": "Prep Body (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "functionCode": "const out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const body = j.text || j.textPlain || j.snippet || '';\n  const subject = j.subject || (j.payload?.headers?.subject) || '';\n  const from = j.from || (j.payload?.headers?.from) || '';\n  const id = j.id || j.messageId || '';\n  const threadId = j.threadId || '';\n  out.push({ json: { from, subject, body, id, threadId } });\n}\nreturn out;"
      }
    },
    {
      "id": "guard-filter",
      "name": "Guard Filter (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "functionCode": "const keep = [];\nfor (const item of items) {\n  const from = (item.json.from || '').toLowerCase();\n  const subject = (item.json.subject || '').toLowerCase();\n  const skip = (\n    from.includes('noreply') ||\n    from.includes('no-reply') ||\n    from.includes('do-not-reply') ||\n    subject.includes('out of office') ||\n    subject.includes('auto reply') ||\n    subject.includes('autoreply') ||\n    subject.includes('verification') ||\n    subject.includes('code') ||\n    subject.includes('receipt')\n  );\n  if (!skip) keep.push(item);\n}\nreturn keep;"
      }
    },
    {
      "id": "ai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        -120
      ],
      "parameters": {
        "promptType": "define",
        "text": "You are concise and professional. Write ONLY a short 1\u20132 sentence acknowledgement of receipt (no JSON).\n\nEmail:\n{{ $json.body }}",
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CRED_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "compose-reply",
      "name": "Compose Reply (Set)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        -120
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "replyText",
              "value": "={{$json['text'] || 'Thanks for reaching out \u2014 we\u2019ve received your message and will follow up shortly.'}}"
            },
            {
              "name": "id",
              "value": "={{$json['id']}}"
            },
            {
              "name": "threadId",
              "value": "={{$json['threadId']}}"
            },
            {
              "name": "from",
              "value": "={{$json['from']}}"
            },
            {
              "name": "subject",
              "value": "={{$json['subject']}}"
            }
          ]
        }
      }
    },
    {
      "id": "gmail-reply",
      "name": "Reply to Message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1100,
        -120
      ],
      "parameters": {
        "operation": "reply",
        "emailType": "text",
        "messageId": "={{ $json.id || $json.threadId }}",
        "message": "={{$json.replyText}}",
        "options": {
          "replyToSenderOnly": true
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "log-sheet",
      "name": "Log to Google Sheets (Append)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1100,
        100
      ],
      "parameters": {
        "operation": "append",
        "sheetId": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
        "range": "REPLACE_WITH_SHEET_NAME!A:D",
        "options": {
          "valueInputMode": "RAW"
        },
        "data": {
          "values": [
            [
              "={{$now}}",
              "={{$json.from}}",
              "={{$json.subject}}",
              "Replied"
            ]
          ]
        }
      },
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CRED_ID",
          "name": "Google account"
        }
      }
    },
    {
      "id": "notes",
      "name": "Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        140
      ],
      "parameters": {
        "content": "Clean version:\n\u2022 Filter via Function (no regex)\n\u2022 Uses real email body for AI\n\u2022 Replies sender-only with thread id\n\u2022 Logs to Google Sheets\n\u2022 Edit credentials + spreadsheet placeholders before running"
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Prep Body (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Body (Function)": {
      "main": [
        [
          {
            "node": "Guard Filter (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Filter (Function)": {
      "main": [
        [
          {
            "node": "OpenAI Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "main": [
        [
          {
            "node": "Compose Reply (Set)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Reply (Set)": {
      "main": [
        [
          {
            "node": "Reply to Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Google Sheets (Append)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
